---



import MainLayout from "../layouts/MainLayout.astro"
import Button from "../components/Button.astro"

const {
    header1 = "Build Your Perfect Workout",
    paragraph1 = "Plan unlimited amount of workout routines without any subscriptions!",
    paragraph2 = `
    Every serious gym goer knows that it's easy to forget your planned exercises.

    And have already tried to search for a replacement from the default notes app on your phone.

    Either it's free apps with a shitty designs or unneccessarily advanced planning apps that incorporate
    AI into helping you plan a workout. But the advanced once usually cost a subscription per month.

    MR Gym planner however is a simple web app where you can easily completly customize your own
    exercises and workouts with a simple but streamlined UI.
    `,
    paragraph3 = "MR Gym planner offers:"
} = Astro.props

---
<MainLayout title = "Home">
    <div class = "content-box">
        <section class="first-section">
            <img src="/images/gym-photo.png" alt="picture of a gym">
            <div class = "textbox headerbox">
                <h1>{header1}</h1>
            </div>
            
        </section>
        <section class = "list-section">
            <p>
                {paragraph2}
            </p>
            <div class="cta-box1">
                <div class="cta1-text">
                    <p>
                    {paragraph3}
                    </p>
                    <ul>
                        <li>Create and customize exercises</li>
                        <li>Group exercises into workout</li>
                        <li>Plan workouts in a calendar(Not Coming Soon)</li>
                    </ul>
                </div>
                <Button href="planner">Try the planner now!</Button>
            </div>
        </section>
        
    </div>
</MainLayout>

<style>
    
    p{
        color: var(--default-text);
        font-size: var(--font-size-lg);
    }
    section{
        text-align: left;
        justify-content: center;
        margin: 0 20%;
    }
    .list-section{
        margin: 2vh 10vw;
    }
    .cta-box1{
        margin: 2vh 0;
        padding: 4vh 5vw;
        background-color: var(--light-green);
    }

    .cta1-text{
        margin-bottom: 4vh;
    }
    .cta1-text p{
        font-size: var(--font-size-3xl);
        color: var(--white);
    }
    .cta1-text ul {
        margin-left: 1rem;
        color: var(--white);
        margin-bottom: 2vh;
    }

    .cta1-text li{
        font-size: var(--font-size-lg);
        
    }
    
   .first-section{
    position: relative;
    text-align: center;
    margin: 0;
   }
   .first-section img{
    object-fit: cover;
    width: 100%;
   }
   .textbox{
    position: absolute;
   
    transform: translate(-50%, -50%);

    
    background-color: #333333CC;

    border-radius: 2vw;

    display: flex;
    align-items: center;
    padding: 5%;
   }

   .headerbox{
    top: 50%;
    left: 50%;

    width: 60vw;
    height: 20vh
   }
   


   @media (min-width: 750px){
    .headerbox{
    top: 50%;
    left: 50%;

    width: 80vw;
    height: 60vh
   }

   

   
   }
   .textbox h1{
    color: var(--white);
    font-size: 5vw;
   }
   .textbox p{
    color: var(--white);
    font-size: 2vw;
   }
   
   
   
</style>



