---



import MainLayout from "../layouts/MainLayout.astro"
import Button from "../components/Button.astro"

const {
    header1 = "Build Your Perfect Workout",
    paragraph1 = "Plan unlimited amount of workout routines without any subscriptions!",
    paragraph2 = `
    Every serious gym goer knows that it's easy to forget your planned exercises.

    And have already tried to search for a replacement from the default notes app on your phone.
    `
} = Astro.props

---
<MainLayout title = "Home">
    <div class = "content-box">
        <section class="first-section">
            <img src="/images/gym-photo.png" alt="picture of a gym">
            <div class = "textbox headerbox">
                <h1>{header1}</h1>
            </div>
            <div class ="textbox pbox">
                <p>{paragraph1}</p>
            </div>
        </section>
        <section class = "list-section">
            <p>
                {paragraph2}
            </p>
        </section>
        <section class = "cta-section">
            
        </section>
    </div>
</MainLayout>

<style>
    p{
        color: var(--default-text);
        font-size: var(--font-size-lg);
    }
    section{
        text-align: left;
        justify-content: center;
        margin: 0 20%;
    }
   .first-section{
    position: relative;
    text-align: center;
    margin: 0;
   }
   .first-section img{
    object-fit: cover;
    width: 100%;
   }
   .textbox{
    position: absolute;
   
    transform: translate(-50%, -50%);

    ;
    background-color: #333333CC;

    border-radius: 2vw;

    display: flex;
    align-items: center;
    padding: 5%;
   }

   .headerbox{
    top: 40%;
    left: 30%;

    width: 40vw;
    height: 20vh
   }
   .pbox{
    top: 60%;
    left: 65%;

    width: 30vw;
    height: 15vh
   }


   @media (min-width: 750px){
    .headerbox{
    top: 30%;
    left: 30%;

    width: 40vw;
    height: 60vh
   }

   .pbox{
    top: 65%;
    left: 50%;

    width: 30vw;
    height: 50vh
   }

   
   }
   .textbox h1{
    color: var(--white);
    font-size: 5vw;
   }
   .textbox p{
    color: var(--white);
    font-size: 2vw;
   }
   
   
   
</style>



