---

---

<div class = container>
    <form action="">
        <label for="email">Email Adress</label>
        <input name = "email" type="text">
        <label for="password">Password</label>
        <input name = "password" type="text">
    </form>
</div>

<style>
    body{
        background-color: var(--light-gray);
    }

    .container{
        display: flex;
        height: 100vh;
        width: inherit;
        justify-content: center;
        align-items: center;
    }

    form{
        display: grid;
        width: 320px;
    }
</style>