---

import Navbar from "./Navbar.astro"
import Logo from "./Logo.astro"

const navItems = [
    {
        text: "About us",
        href: ""
    },
    {
        text: "Contact",
        href: ""
    },
    {
        text: "Login",
        href: ""
    },
    {
        text: "Register",
        href: ""
    }
]
---

<footer>
    <div class = "foot_div">
        <div class = "logo">
            <Logo height = "7rem"/>
        </div>
        
        <div class = "right">

        </div>
    </div>
</footer>

<style>
    @import "../assets/footer_style.css";
</style>