---

import Navbar from "./Navbar.astro";
import Link from "./Link.astro";
import Logo from "./Logo.astro";
import { Icon } from 'astro-icon/components'

const navItems = [
  {
    text: "Planner",
    href: "/planner"
  },
  {
    text: "Calculator",
    href: ""
  },
  {
    text: "About us",
    href: ""
  },
  {
    text: "Sign up/Log in",
    href: ""
  },
]
---

<header class = "header">
      <Logo height = "5rem"/>
      <Icon id = "navbar-bnt"class = "menu-icon" name = "burger-menu"/>
      <nav id = "dropdown-navbar"class = "navbar hidden">
        <ul class = "">
            {navItems.map(item => (
                <li>
                    <a href={item.href}>{item.text}</a>
                </li>
            ))}
        </ul>
    </nav>
      
</header>

<script>
  const button = document.querySelector('#navbar-bnt')
  const dropdown = document.querySelector('.navbar')
  button?.addEventListener('click', (e) =>{
    console.log("hi")
    dropdown?.classList.toggle("hidden")
  })
</script>

<style>
  @import "../assets/header_style.css";
</style>



 