
div{
    display: flex;
}

.foot_div{
    
    justify-content: start;
    align-items: stretch;
    background-color: #1a2b4c;
    height: 50vh;
}

.logo a{
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 4vw;
    padding: 0.4em;
}

.page_list li{
    list-style: none;
}

.page_list a{
    text-decoration: none;
    color: white;
    font-size: 1.8vw;
}

.page_list a:hover{
    text-decoration: underline;
}