.planner-navbar{
    background-color: #dedede;
    display: flex;
    justify-content: center;
}

.ul--border-inline{
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.planner-navbar li{
    display: flex;
    margin: 0 0vw;
}
