---
import Link from "../components/Link.astro"
const navItems = [
    {text: "Calendar", href: ""},
    {text: "Workouts", href: "/workouts"},
    {text: "Exercises", href: "/exercises"},
]
---


<div class="planner-navbar">
    <ul>
        {navItems.map(item => (
            <li>
                <Link classes = "stretch-width"text = {item.text} href = {item.href} variant = "primary" />
            </li>
        ))}
    </ul>
</div>
<slot/>

<style>
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style: none;

        border-bottom: solid 2px var(--dark-gray);
        background-color: var(--dark-blue);
    }
</style>
